# persona@.service

[Unit]
Description = Persona server service

[Service]
ExecStart=/root/.build/x86_64-unknown-linux-gnu/debug/Persona
StandardInput=socket
