# frontend.service

 [Unit]
 Description = frontend server

 [Service]
 ExecStart=/root/go/bin/frontend -writePcap

 [Install]
 WantedBy = multi-user.target
