# frontend.socket

 [Unit]
 Description = frontend server

 [Socket]
 ListenStream = 1234
 Accept = yes
 ReusePort = yes

 [Install]
 WantedBy = sockets.target
