# persona.socket

[Unit]
Description = Persona server

[Socket]
ListenStream = 1230
Accept = yes
ReusePort = yes

[Install]
WantedBy = sockets.target
