# tcpproxy.socket

[Unit]
Description = TCP proxy server

[Socket]
ListenStream = 1232
Accept = yes
ReusePort = yes

[Install]
WantedBy = sockets.target
